<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quản lý danh mục</title>
    <link rel="stylesheet" th:href="@{/css/admin_table.css}">
    <link rel="stylesheet" th:href="@{/css/header_admin.css}">
</head>
<body>

<!-- Header admin -->
<div th:replace="~{fragments/_header_admin :: header}"></div>
<section class="main-section">
	<div class="container">
	<h2>DANH SÁCH DANH MỤC</h2>
		<!-- Hiển thị thông báo -->
	    <div th:if="${success}" class="flash flash-success" th:text="${success}"></div>
	
	    <!-- Form tìm kiếm -->
	    <form class="search-form" th:action="@{/admin/categories/search}" method="get">
	        <input type="text" name="keyword" placeholder="Tìm kiếm theo tên hoặc loại">
	        <button type="submit" class="btn btn-search">🔍 Tìm</button>
	        <a th:href="@{/admin/categories/create}" class="btn btn-add">➕ Thêm mới</a>
	        <a th:href="@{/admin/categories}" class="btn btn-reset">🔄 Reset</a>
        
    	</form>
	    
	    <table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Tên Danh mục</th>
						<th>Mô tả</th>
						<th>Ảnh</th>
						<th>Trạng thái</th>
						<th>Hành động</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="category : ${categories.content}">
						<td th:text="${category.categoryId}"></td>
						<td th:text="${category.name}"></td>
						<td th:text="${category.description}"></td>
						<td><img th:if="${category.imageUrl}"
							th:src="@{${category.imageUrl}}" alt="Category Image"></td>
						<td><span
							th:text="${category.status == true ? 'Hoạt động' : 'Ẩn'}"></span>
						</td>
						<td><a
							th:href="@{'/admin/categories/edit/' + ${category.categoryId}}"
							class="btn btn-edit">✏️ Sửa</a> <a
							th:href="@{'/admin/categories/delete/' + ${category.categoryId}}"
							class="btn btn-delete"
							onclick="return confirm('Bạn có chắc muốn xóa?')">🗑️ Xóa</a></td>
					</tr>
				</tbody>
			</table>
			<div class="pagination"
				style="display: flex; justify-content: center; align-items: center; gap: 10px; margin-top: 20px;">
				<a th:if="${categories.hasPrevious()}"
					th:href="@{/admin/categories(page=${categories.number - 1}, keyword=${keyword})}"
					class="btn btn-reset">⬅️ Trước</a> <span style="font-weight: bold;">
					Trang <span th:text="${categories.number + 1}"></span> / <span
					th:text="${categories.totalPages}"></span>
				</span> <a th:if="${categories.hasNext()}"
					th:href="@{/admin/categories(page=${categories.number + 1}, keyword=${keyword})}"
					class="btn btn-reset">Tiếp ➡️</a>
			</div>
	</div>
</section>
</body>
</html>
