<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
<meta charset="UTF-8">
<title>Quản lý danh mục</title>
<link rel="stylesheet" th:href="@{/css/admin_table.css}">
<link rel="stylesheet" th:href="@{/css/header_admin.css}">
</head>
<body>
	<!-- Header admin -->
	<div th:replace="~{fragments/_header_admin :: header}"></div>
	<section class="main-section">
		<div class="container">
			<h2>DANH SÁCH NGƯỜI DÙNG</h2>

			<div th:if="${success}" class="flash flash-success"
				th:text="${success}"></div>
			
	
			<form class="search-form" th:action="@{/admin/users}"
				method="get">
				<input type="text" name="keyword"
					placeholder="Tìm kiếm theo tên hoặc loại">
				
				<button type="submit" class="btn btn-search">🔍 Tìm</button>
				<a th:href="@{/admin/users/create}" class="btn btn-add">➕ Thêm mới</a>
				<a th:href="@{/admin/users}" class="btn btn-reset">🔄 Reset</a>
			  	<a class="btn-stats" th:href="@{/admin/users/stats}">📊 Xem thống kê</a>
			</form>

			<!-- Bảng danh sách user -->
			<table>
				<thead>
		
		
					<tr>
						<th>ID</th>
						<th>Tên đăng nhập</th>
						<th>Họ tên</th>
						<th>Email</th>
						<th>Role</th>
						<th>Trạng thái</th>
						<th>Đăng nhập gần nhất</th>
						<th>Ngày tạo</th>
						<th>Cập nhật</th>
						<th>Thao tác</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${users}">
						<td th:text="${user.userId}"></td>
						<td th:text="${user.username}"></td>
						<td th:text="${user.fullName}"></td>
						<td th:text="${user.email}"></td>
						<td>
							<ul style="padding-left: 1rem;">
								<li th:each="r : ${user.roles}" th:text="${r.roleName}"></li>

							</ul>
						</td>
						<td th:text="${user.active ? '✅ Hoạt động' : '❌ Vô hiệu'}"></td>
						<td th:text="${#temporals.format(user.lastLogin, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${#temporals.format(user.createAt, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${#temporals.format(user.updateAt, 'dd/MM/yyyy HH:mm')}"></td>
						<td style="white-space: nowrap;"><a
							th:href="@{'/admin/users/edit/' + ${user.userId}}"
							class="btn-edit">✏️</a> <a
							th:href="@{'/admin/logs/user/' + ${user.userId}}" class="btn-log">📜
								Log</a>
						<a th:href="@{/admin/users/delete/{id}(id=${user.userId})}" class="btn btn-delete" onclick="return confirm('Xác nhận xóa?')">🗑️</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
</body>
</html>
