<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
	<style>
    .banner-container {
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .responsive-banner {
      width: 100%;
      height: auto;
      display: block;
    }
  </style>
  
    <meta charset="UTF-8">
    <title th:text="${pageTitle}">Admin Dashboard</title>
	
	<!-- Custom CSS -->
	<link rel="stylesheet" th:href="@{/css/header_admin.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	
	
</head>
<body>
	<div th:replace="fragments/_header_admin :: header"></div>
<!-- 	<nav> -->
<!-- 		<a th:href="@{/}">🏠 Trang chủ</a> -->
<!-- 	    <form th:action="@{/logout}" method="post" style="display:inline;"> -->
<!-- 	        <button type="submit" class="logout-btn">Đăng xuất</button> -->
<!-- 	    </form> -->
<!-- 	</nav> -->
	<div class="banner-container">
	  <img th:src="@{/images/admin_home/home_dashboard_img.png}" alt="Banner" class="responsive-banner">
	</div>
<div th:replace="fragments/_footer :: footer"></div>
</body>
</html>
